@model GameNepal.Models.UserViewModel

@using (Html.BeginForm("EditProfile", "User", FormMethod.Post, new { id = "editProfile" }))
{
    <div class="row">
        @if (TempData["ErrorMsg"] != null)
        {
            <div class="col-lg-12">
                <div class="alert alert-danger fade in" id="divError">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @Html.Raw(TempData["ErrorMsg"])
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            @Html.Label("First Name", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", required = "required", placeholder = "First Name" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Last Name", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", required = "required", placeholder = "Last Name" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Email", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", type = "email", @placeholder = "Email address" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Phone", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Phone Number", @maxlength = "10", type = "tel", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Gender", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.RadioButtonFor(x => x.Gender, "Male", new { @id = "genderMale", @checked = "checked" }) <span>Male</span>
                &nbsp;&nbsp;&nbsp;
                @Html.RadioButtonFor(x => x.Gender, "Female", new { @id = "genderFemale" }) <span>Female</span>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("City", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(x => x.City, new { @class = "form-control", @placeholder = "City" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Age Group", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.DropDownListFor(x => x.AgeGroup, new SelectList(Model.AgeGroups), new { @class = "form-control dropDown" })
            </div>
        </div>
        <br />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save changes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
}

<script src="../../Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#editProfile").submit(function (event) {
        event.preventDefault();

        var $form = $('#editProfile');
        $.post($form.attr("action"),
            $form.serialize()).done(function (res) {
                $mymodal = $("#editProfileModal");
                $mymodal.find("div.modal-body").html(res);
                $mymodal.show();
                if (res.success) {
                    $mymodal.hide();
                    window.location.reload();
                }
            });
    });
</script>